<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Admin Area</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-topcancel">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
                <a href=@Url.Action("Index","Dashboard") class="navbar-brand">Dashboard</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Action("Index","Pages")">Pages</a></li>
                    <li><a href="@Url.Action("EditSidebar","Pages")">Sidebar</a></li>
                </ul>
                <ul class="navbar-right">
                    <li><a href="/" class="navbar-brand">CmsShoppingCart</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
      
    </div>

    @Scripts.Render("~/bundles/scripts")
    
    @RenderSection("scripts", required: false) @*So that we can write scripts directly on views*@
</body>
</html>
